body, h1 {
  margin: 0px;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAF0D7;
}

/* flex  */
.score, .choices, .choice, .messages, .message, .buttons{
  display: flex;
}

.heading {
  background-color: #FFD9C0;
  font-size: 24px;
  padding: 16px;
  text-align: center;
}

.heading .sub {
  font-weight: lighter;
}

.score {
  padding: 16px 0px;
  text-align: center;
  justify-content: center;
}

.player, .comp {
  font-size: 14px;
  width: 96px;
  height: 48px;
  padding: 8px;
  border: 1px solid #FAF0D7;
  background-color: #8CC0DE;
  border-radius: 15px;
}

.player-score, .comp-score {
  font-size: 24px;
  margin-top: 4px;
}


.choices {
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin: 32px 0px;
}

.choice {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #8CC0DE;
  justify-content: center;
}

.choice:hover {
  background-color: #7293a7;
}

.choice img {
  display: block;
  height: 200px;
  width: auto;
  margin: auto;
} 

.game-message {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 16px;
}

.messages {
  display: flex;
  justify-content: center;
  gap: 4px
}

.player-msg, .comp-msg {
  background-color: #FFD9C0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 128px ;
  padding: 16px;
  border: 1px solid red;
  border-radius: 10px;
}

.player-choice, .comp-choice {
  font-weight: bold;
  color: #f32b2b;
}

.buttons  {
  justify-content: center;
  gap: 8px;
  margin-top: 48px;
}

#reset, #play-again {
  height: 50px;
  width: 160px;
  border: 2px solid #8CC0DE;
  border-radius: 50px;
  background-color: #CCEEBC;
}

button:hover {
  background-color: #ACE1AF;
}

.win-overlay {
  font-weight: bolder;
  font-size: 80px;
  padding: 64px 0px;
  border: 10px solid #FAF0D7;
  border-radius: 30px;
  position: absolute;
  bottom: 40%;
  color: #df0068;
  background-color: #FAF0D7;
}