body, h1 {
  margin: 0px;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAF0D7;
}

.heading {
  background-color: #FFD9C0;
  padding: 16px;
  text-align: center;
}

.content {
  flex-grow: 1;
}

.score {
  padding: 16px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.player, .comp {
  font-size: 14px;
  width: 96px;
  height: 48px;
  padding: 8px;
  border: 1px solid #FAF0D7;
  background-color: #8CC0DE;
}

.player-score, .comp-score {
  font-size: 24px;
  margin-top: 4px;
}

.win-message {
  text-align: center;
  font-size: 24px;
  color: #000
}


.choices {
  display: flex;
  padding: 32px 0px;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.choice {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #8CC0DE;
  display: flex;
  justify-content: center;
}

.choice:hover {
  background-color: #7293a7;
}

.choice img {
  display: block;
  height: 200px;
  width: auto;
  margin: auto;
} 

.messages {
  padding: 48px 0px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message{
  width: 320px;
}

.player-choice, .comp-choice {
  color: #e60000;
  font-weight: bolder;
}


.buttons  {
  display: flex;
  justify-content: center;
  gap: 8px
}

.reset, .play-again {
  height: 50px;
  width: 160px;
  border: 2px solid #8CC0DE;
  border-radius: 50px;
  background-color: #CCEEBC;
}

button:hover {
  background-color: #ACE1AF;
}